body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  border-style: solid;
  border-radius: 3px;
  background-color:#967ebf;
  max-height:55%;
  margin-top:10%;
  box-shadow: 1px 1px 5px rgba(136, 136, 136, 0.61);
  border-radius: 7px;
  height:auto;
  min-height: 250px;
  padding-bottom:20px;
}
.form-signin-er {
  min-height:300px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin-heading{

}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.a-register{
  padding:3px;
  color: red;
}

.info_message {
  color: #F92672;
  padding:5px;
}
html{
  height:100%;
}
.login-body{
  height:100%;
  width:100%;
}
.login-container-bg {
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0%;
  left: 0%;
  background-image: url(../anwesha_logo.png);
  background-position: center;
  background-size: cover;
  -o-background-size: cover;
}
/* monokai */
body {
  background: #272822;
  color: #f8f8f2;
  font-family: "Lucida Console", Monaco, monospace;
}
.team-info {
  padding-bottom:5px;
}

.team-name{
  color:#FF0000;
}
.score{
  color:#FFFF00;
}
.question-box{
  font-size:1.7em;
  background-color:#75715e;
  padding-top:7px;
  padding-bottom:7px;
  margin-bottom:5px;
  border-radius:4px;
}

.glow{
  transition: all 0.3s ease-in;
  text-decoration:none;
}

.glow:hover{
  -webkit-stroke-width: 5.3px;
  -webkit-stroke-color: #FFFFFF;
  -webkit-fill-color: #FFFFFF;
  text-shadow: 1px 0px 20px green;
  text-decoration:none;
  color:orange;
}

.footer{
  padding:10px;
  position:fixed;
  bottom:0px;
  left:0px;
  background-color:#222;
  border-style: solid;
  border-width:1px 0 0 0;
  border-color: #080808;
  width:100%;
  color:#9d9d9d;
}

.lb-header{
  color: #f92672;
}

/*********** Hiding info messgaed ***************/
.hideMe {
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}
/**************** ***********/
/******* Registration CSS ******/
.form-register {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
  border-style: solid;
  border-radius: 3px;
  background-color:#967ebf;
  max-height:55%;
  margin-top:60px;
  margin-bottom:20px;
  box-shadow: 1px 1px 5px rgba(136, 136, 136, 0.61);
  border-radius: 7px;
  height:100%;
}
.form-control-reg {
  margin-top:5px;
  margin-bottom:5px;
}
.errorlist{
  color : #ec3533;
  list-style-type : none;
}

/*******/
/*cssConsole*/
.terminal {
  border-right: 4px solid ridge;
  border-left: 4px solid ridge;
  border-bottom: 4px solid ridge;
  border-radius: 0 0 6px 6px;
  margin-left: 20px;
  margin-right: 20px;
}
 .title-bar {
  width: 75%;
  font-size: 20px;
  padding: 5px;
  height: 40px solid rgba(173,173,165,1);
  background: rgba(173,173,165,1);
  color: white;
  text-align: center;
  margin-bottom: 24px;
  margin-top: 20px;
  border-radius: 6px 6px 0 0;
  margin-left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-webkit-transform: translateX(-50%);
  box-shadow:0px -2px 14px rgba(217, 212, 228, 0.54);
}

.terminal {
  height: 200px;
  width: 75%;
  margin-top: 20px;
  margin-left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-webkit-transform: translateX(-50%);
  box-shadow:0px 2px 14px rgba(217, 212, 228, 0.54);
}
/* Answered and unanswered questions */
.answered {
  background-color: #175B00;
  border-style: solid;
  border-width:  0.5px;
  border-color:white;
}

.unanswered {
  background-color: #3e3b32;
  border-style: solid;
  border-width:  0.5px;
  border-color: white;
}

.flo-green {
  color: #66d93f;
}